# Miller ArcConnect Software Library .clang-format settings file
# Assumes LLVM version 10.0.0 of ClangFormat
BasedOnStyle: Microsoft
AccessModifierOffset: '-4'
AllowAllArgumentsOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: 'true'
AllowShortIfStatementsOnASingleLine: 'true'
AlignConsecutiveMacros: 'true'
AlignAfterOpenBracket: 'AlwaysBreak'
AlignEscapedNewlines: Left
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: Allman
ColumnLimit: '110'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
ExperimentalAutoDetectBinPacking: 'false'
FixNamespaceComments: 'true'
IndentCaseLabels: 'true'
IndentWidth: '4'
IncludeBlocks: 'Preserve'
Language: Cpp
MaxEmptyLinesToKeep: '2'
ObjCBinPackProtocolList: Never
PenaltyReturnTypeOnItsOwnLine: '0'
PointerAlignment: Right
SortIncludes: 'false'
SpaceAfterCStyleCast: 'false'
SpaceAfterLogicalNot: 'false'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeParens: Never
SpacesInAngles: 'false'
SpacesInCStyleCastParentheses: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
TabWidth: '4'
UseTab: Never
